*{
    border: none;
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: #fff;

    color: black;

    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    display: none;
}

.icons {
    text-align: center;
}

.icons h2 {
    font-size: 2em;
    margin: 10px 0;
}

.icons div {
    width: 45%;
    display: inline-block;

}

.icons div img {
    width: 100%;
}

#newBadge {
    cursor: pointer;
}

#newBadge:hover #blackcackground { fill: blue;}

#smalltext { transition: all 0.5 ease; transform-origin: 50%; }

#newBadge :hover #smalltext {
    fill: white;
    transform: rotate (130deg)
 }